<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Project P.I.O.T.W.O.</title>

    <!--bower-->
    <link rel="stylesheet" href="bower_components/bootstrap/dist/css/bootstrap.min.css">
    <!--endBower-->
    <link rel="stylesheet" href="css/main.css">
</head>
<body ng-app="myApp">

<nav class="navbar navbar-inverse">
    <div class="container-fluid">
        <div class="navbar-header">
            <a class="navbar-brand">Project P.I.O.T.W.I.O</a>
        </div>
    </div>
</nav>


<div ng-controller="MainController">

    <form role="form" class="form-inline board-form">
        <div class="form-group">
            <label for="rg-from">Width: </label>
            <input ng-model="width" type="text" id="rg-from" name="rg-from" value="" class="form-control">
        </div>
        <div class="form-group">
            <label for="rg-to">Height: </label>
            <input ng-model="height" type="text" id="rg-to" name="rg-to" value="" class="form-control">
        </div>
        <div class="form-group">
            <button ng-click="refreshBoard()" type="button" class="btn btn-primary">Refresh board</button>
        </div>
    </form>

    <div class="col-md-9 board">
        <div style="float: left;" ng-repeat="column in board.columns">
            <div ng-repeat="node in column.nodes">
                <div ng-click="selectNode(node)" class="led"></div>
            </div>
        </div>
    </div>
    <div class="col-md-3 right-menu">
        <h3>Node {{selectedNode.row*width+selectedNode.column}}</h3>
        <div class="form-group">
            <label for="nodeIp">Node URL: </label>
            <input ng-model="selectedNode.ip" type="text" id="nodeIp" name="nodeIp" value="" class="form-control">
        </div>
    </div>


</div>


<!--bower-->
<script src="bower_components/angular/angular.min.js"></script>
<script src="bower_components/jquery/dist/jquery.min.js"></script>
<script src="bower_components/bootstrap/dist/js/bootstrap.min.js"></script>
<!--endBower-->

<!--npm-->
<script src="node_modules/mqtt/browserMqtt.js"></script>
<!--endNpm-->

<script src="scripts/app.js"></script>
</body>
</html>